{% extends 'base.html.twig' %}

{% block title %}Nouvelle Election{% endblock %}

{% block body %}
    <h2>{{ app.request.get('_route') == 'election_edit' ? 'Edition d\'une élection' : 'Nouvelle élection' }}</h2>

    {{ include('election/_form.html.twig') }}

    <a href="{{ path('election_index') }}" class="button button-uca-beige">Retour à la liste</a>

    {% if app.request.get('_route') == 'election_edit' %}
        {{ include('election/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('body').on('click', '#add_scrutin', function (e) {
                e.preventDefault();
                var prototype = $('#scrutins').attr('data-prototype');
                var new_line = prototype;
                var index = parseInt(parseInt($('#scrutins').attr('data-index')) + 1);
                new_line = new_line.replace(/__name__/g, index);
                $('#scrutins').attr('data-index', index);
                $('#scrutins').append(new_line);
            });

            $('body').on('click', '.remove_scrutin', function(e) {
                e.preventDefault();
                $(this).closest('.scrutin').remove();
                var idsp = $('.scrutin').last().find('.form-control').attr('id').split('_');
                $('#scrutins').attr('data-index', parseInt(idsp[4]));
                return false;
            });
        });
    </script>
{% endblock %}